<div class="center-img">
  <div class="logo">
    <img src="../assets/images/intro/achtergrond.jpg" />
    <div class="fork-img">
      <img src="../assets/images/intro/stemvorktoetsNormaal.jpg" onmouseover="this.src='../assets/images/intro/stemvorktoetsOver.jpg'"
        onmouseout="this.src='../assets/images/intro/stemvorktoetsNormaal.jpg'" />
    </div>
    <div class="dot-img">
      <img src="../assets/images/intro/stiptoetsNormaal.jpg" onmouseover="this.src='../assets/images/intro/stiptoetsOver.jpg'"
        onmouseout="this.src='../assets/images/intro/stiptoetsNormaal.jpg'" />
    </div>
    <div class="enter-img">
      <img src="../assets/images/intro/entertoetsNormaal.jpg" onmouseover="this.src='../assets/images/intro/entertoetsOver.jpg'"
        onmouseout="this.src='../assets/images/intro/entertoetsNormaal.jpg'" />
    </div>
  </div>

  <div>
    <img src="" />
  </div>
</div>